.coach-card{
    background-color:#163f99;
    text-align: center;
    padding-top: 80px;
    border-radius: 12px;
    width: 364px;
}
.coach-card .coach-img{
    width: 100px;
    border: 1.3px white solid;
    border-radius: 100%;
    margin-bottom: 9.6px;
}
.coach-card .coach-info{
    text-align: left;
    margin-bottom: 46px;
}
.coach-card .coach-info .coach-info-text{
    margin-left: 25px;
}
.coach-card .coach-info .sep-line{
    border-color: #336699;
}
.coach-card .coach-info .coach-info-text .grey-text{
    color: black;
}
.coach-card .coach-info .coach-info-text .white-text{
    color: black;
    font-size: 1.2em;
}

.coach-card .coach-details{
    background-color: #E6E6FA;
    padding-top: 24px;
}
.coach-card .coach-details .coach-name{
    font-size: 1.5em;
    color: black;
}
.coach-card .coach-details .coach-job{
    color: white;
}
.coach-card .coach-desc{
    text-align: center;
    position: relative;
    background-color: lightgrey;
    padding-left: 15px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
.coach-card .coach-desc .tarrif{
    padding-top: 27px;
    text-align: left;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    padding-bottom: 22px;
}
.coach-card .coach-desc .tarrif-no-right{
    padding-top: 27px;
    text-align: left;
    border-bottom: 1px solid black;
    padding-bottom: 22px;
}
.coach-card .coach-desc .pers-count{
    font-size: 0.92em;
    color:black;
}
.coach-card .coach-desc .pers-tarrif{
    font-size: 1.4em;
    font-weight: bold;
    color: #163f99;
}
.coach-card .coach-desc .coach-desc-text{
    padding-top: 27px;
    padding-left: 28px;
    padding-bottom: 41px;
    font-size: 1em;
    color: #163f99;
    text-align: justify;
    max-width: 308px;
}

.coach-card .coach-desc .coach-reserve-btn{
    position: relative;
    width: 200px;
    height: 33px;
    margin-left: 66px;
    top: 16.5px;
}
