 .coach-card{
     background-color:whitesmoke;
     text-align: center;
     padding-top: 80px;
     border-radius: 12px;
     width: 364px;
 }
 .coach-card .coach-img{
     width: 100px;
     border: 1.3px white solid;
     border-radius: 100%;
     margin-bottom: 9.6px;
 }
 .coach-card .coach-info{
     text-align: left;
     margin-bottom: 46px;
 }
 .coach-card .coach-info .coach-info-text{
     margin-left: 25px;
 }
 .coach-card .coach-info .sep-line{
     border-color: darkorange;
 }
 .coach-card .coach-info .coach-info-text .grey-text{
     text-align: center;
     color: black;
 }
 .coach-card .coach-info .coach-info-text .white-text{
     text-align: center;
     color: black;
     font-size: 1.8em;
 }

 .coach-card .coach-details{
     background-color: darkorange;
     padding-top: 24px;
 }
 .coach-card .coach-details .coach-name{
     font-size: 1.1em;
     color: black;
 }
 .coach-card .coach-details .coach-job{
     color: black;
 }
 .coach-card .coach-desc{
     text-align: center;
     position: relative;
     background-color: white;
     padding-left: 15px;
     border-bottom-left-radius: 12px;
     border-bottom-right-radius: 12px;
 }
 .coach-card .coach-desc .tarrif{
     padding-top: 27px;
     text-align: left;
     border-right: 1px solid #E6E6FA;
     border-bottom: 1px solid #E6E6FA;
     padding-bottom: 22px;
 }
 .coach-card .coach-desc .tarrif-no-right{
     padding-top: 27px;
     text-align: left;
     border-bottom: 1px solid #E6E6FA;
     padding-bottom: 22px;
 }